/* modules.css contain smaller components on the page
Apply to elements such as list items, individual images, specific paragraphs
Classes and descendant selectors should primarily be included here */

.templateST {
  width: 500px;
  height: 500px;
  float: left;
  margin: 1%;
}

.templateST:nth-child(2) {
  display: none;
}
